body {
  margin: 0;
  font-family: monospace;
}

.header {
  background-color: bisque;
  color: brown;
  padding: 1rem;
}

.main {
  padding: 1rem;
}

.footer {
  background-color: bisque;
  text-align: center;
  padding: 1rem;
}
